body,
html,
.container-fluid {
    height: 100vh;
    font-family: 'Mako', sans-serif;
    background-color: #5E8F97;
    padding-top: 2em;
}

.show-movie {
    display: inline-block;
}

.card-img-top {
    height: 350px;
}

.card-body {
    height: 180px;
}

.navbar,
.navbar-brand {
    font-size: 25px;
}

.card-body {
    height: auto;
}
