<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Adding Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <!-- Adding Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <!-- Adding Font -->
  <link href="https://fonts.googleapis.com/css?family=Mako" rel="stylesheet">

  <!-- Adding styles -->
  <link rel="stylesheet" href="../css/login.css">
  <title>PlotTwist Login</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 welcome-img"></div>
      <div class="col-lg-6 col-md-12 welcome-section">
        <div class="text-center">
          <div class="text-center"><img src="../assets/images/Logo.png" alt="PlotTwist"></div>
          <div class="login-group">
            <button id="google-sign-in" type="button" class="btn btn-login"><i class="fab fa-google"></i></button>
            <button id="facebook-sign-in" type="button" class="btn btn-login"><i class="fab fa-facebook-f"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Adding Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!-- Adding Firebase -->
  <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
  <!-- Adding scripts -->
  <script src="../js/init.js"></script>
  <script src="../js/login.js"></script>
</body>

</html>