<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Adding Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <!-- Adding Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <!-- Adding Font -->
  <link href="https://fonts.googleapis.com/css?family=Mako" rel="stylesheet">

  <!-- Adding styles -->
  <link rel="stylesheet" href="../css/movies.css">
  <title>PlotTwist</title>
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="movies.html">PlotTwist</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="movies.html">Inicio<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="filterMovies.html">Películas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="games.html">Juegos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="series.html">Series</a>
          </li>
          <li class="nav-item">
            <a id="popover-button" class="nav-link no-btn" data-container="body" data-toggle="popover" data-placement="top"></a>
          </li>
          <li class="nav-item">
            <a id="log-out-btn" class="nav-link">Cerrar Sesión</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Buscar por Nombre" aria-label="Search">
          <button id="searchBtn" class="btn btn-outline my-2 my-sm-0" type="button"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </nav>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" id="list"></div>
    </div>
  </div>
  <!-- Adding Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!-- Adding Firebase -->
  <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>

  <!-- Adding SweetAlert-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>

  <!--Adding Scripts -->
  <script src="../js/init.js"></script>
  <script src="../js/movies.js"></script>
</body>

</html>